# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class
*.so

# Temporary files
static/temp/
*.csv
*.png
*.log

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/ 